<side-bar>
    <div class='side-bar'>

        <img riot-src="{profile}" class="side-bar__profile-image">

        <ul class="side-bar__items">
            <li class="side-bar__item"><a href="#">Sobre</a></li>
            <li class="side-bar__item"><a href="#/formation">Formação</a></li>
            <li class="side-bar__item"><a href="#/experience">Experiência</a></li>
            <li class="side-bar__item"><a href="#/skills">Habilidades</a></li>
        </ul>
    </div>

    <script>
        this.mixin("profile-image");

        // this.on("mount", function() {
        //     this.btns = document.querySelectorAll(".btn");

        //     console.log(this.btns);

        //     this.btns.forEach(btn => {
        //         btn.addEventListener('click', cliquei);
        //     });
        // })

        // const cliquei = e => {
        //     console.log(e.target.innerText);
        // }
    </script>
</side-bar>