@import '../variables.scss';


.side-bar {
    display: block;
    position: fixed;
    top: 0;
    width: 220px;
    height: 100%;
    background: $background-color;
}

.side-bar__profile-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
    margin: 80px 15% 20px 15%;
}

.side-bar__items {
    list-style: none;
    padding: 0;
    margin-top: 15%;
}

.side-bar__item {
    text-align: center;
    margin-top: 20px;
}

.side-bar__item a {
    color: white;
    font-weight: bold;
}

.side-bar__item a:hover,
.side-bar__item a:active {
    color: grey;
}