<formation>
    <div class="formation">
        <h1 class="formation__title">Formação</h1>
        <ul class="formation__items">
            <li each="{formation in formations}">
                <dl class="formation__item">
                    <dd class="formation__item-location">{formation.location}</dd>
                    <dd class="formation__item-description">{formation.description}</dd>
                    <dd class="formation__item-info">{formation.extraInformation}</dd>
                    <dd class="formation__item-period">{formation.period}</dd>
                </dl>
            </li>
        </ul>
    </div>

    <script>
        this.mixin("formations-list");
    </script>
</formation>