@import "../variables.scss";

.skills {
    position: absolute;
    display: block;
    left: 220px;
    width: calc(100% - 220px);
    height: auto;
}

.skills__title {
    color: rgb(58, 58, 58);
    margin: 40px 0 20px 80px;
}

.skills__items {
    list-style: none;
    margin-top: 50px;
}

.skills__item {
    position: relative;
    width: 90%;
    height: auto;
    margin: 80px 40px;
}

.skills__item-title {
    color: rgb(58, 58, 58);
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}

.skills__item dl {
    display: inline-block;
    width: 20%;
    vertical-align: bottom;
    text-align: center;
}

.skills__item-element {
    font-weight: bold;
    color: rgb(78, 78, 78); 
}

.skills__item-level {
    margin-top: 10px;
    font-size: 1rem;
    color: red;
}