<skills>
    <div class="skills">
        <h1 class="skills__title">Habilidades</h1>
        <ul class="skills__items">
            <li class="skills__item">
                <h2 class="skills__item-title">Tecnologias</h2>
                <dl each="{element in skills.technologies}">
                   <dd class="skills__item-element">{element.technology}</dd>
                   <dd class="skills__item-level">{element.level}</dd> 
                </dl>
            </li>
            <li class="skills__item">
                <h2 class="skills__item-title">Ferramentas</h2>
                <dl each="{element in skills.tools}">
                    <dd class="skills__item-element">{element.tool}</dd>
                    <dd class="skills__item-level">{element.level}</dd> 
                </dl>
            </li>
            <li class="skills__item">
                <h2 class="skills__item-title">Idiomas</h2>
                <dl each="{element in skills.languages}">
                    <dd class="skills__item-element">{element.language}</dd>
                    <dd class="skills__item-level">{element.level}</dd> 
                </dl>
            </li>
        </ul>
    </div>

    <script>

        this.mixin("skills-list");
    </script>
</skills>