@import "../variables.scss";

.about {
    position: absolute;
    display: block;
    left: 220px;
    width: calc(100% - 220px);
    height: auto;
}

.about__text {
    color: rgb(88, 88, 88);
    margin: 170px 0 0 180px;
    width: 70%;
    text-align: center;
    letter-spacing: .1rem;
}