@import "variables.scss";

// global

html,
body,
h1,
h2,
h3,
h4,
h5,
p,
div,
input,
output,
strong,
label,
table,
thead,
textarea,
a {
    font-family: 'Exo', sans-serif;
    margin: 0;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0.5rem 1rem 0.5rem 1rem;
    font-weight: bold;
}

h1 {
    font-size: 2.7rem;
}

h2 {
    font-size: 2rem;
}

h3,
a {
    font-size: 1.6rem;
}

p,
div,
input,
output,
strong,
label,
table,
thead,
textarea {
    font-size: 1.3rem;
}

body {
    background-color: white;
}

.open {
    display: block !important;
}

.close {
    display: none;
}

.master-container {
    background-color: white;
    max-width: 1920px;
    height: calc(100% - 6.4px - 6.4px);
}
