<experience>
    <div class="experience">
        <h1 class="experience__title">Experiência</h1>
        <ul class="experience__items">
            <li each="{experience in experiences}">
                <dl class="experience__item">
                    <dd class="experience__item-role">{experience.role}</dd>
                    <dd class="experience__item-location">{experience.location}</dd>
                    <dd class="experience__item-description">{experience.description}</dd>
                    <dd class="experience__item-period">{experience.period}</dd>
                </dl>
            </li>
        </ul>
    </div>

    <script>
        this.mixin("experiences-list");
    </script>
</experience>