@import "../variables.scss";

.experience {
    position: absolute;
    display: block;
    left: 220px;
    width: calc(100% - 220px);
    height: auto;
}

.experience__title {
    color: rgb(58, 58, 58);
    margin: 40px 0 20px 80px;
}

.experience__items {
    list-style: none;
    margin-top: 50px; 
}

.experience__item {
    position: relative;
    width: 80%;
    height: auto;
    margin: 80px 0;
}

.experience__item-role {
    color: rgb(58, 58, 58);
    font-size: 1.8rem;
    font-weight: bold;
}

.experience__item-location {
    font-weight: bold;
    color: rgb(78, 78, 78); 
}

.experience__item-description {
    color: rgb(88, 88, 88);
    margin-top: 20px;
}

.experience__item-period {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    color: red;
    font-size: 1rem;
}