<nav-bar>
    <nav class="nav-bar">
        <h1 class="nav-bar__title">Natália Rodrigues</h1>
        <!-- <p class="nav-bar__description">{description}</p> -->
        <div class="nav-contact">
            <a href="mailto:nataliamrq@gmail.com" class="nav-contact__icon"><email/></a>
            <a href="https://wa.me/5561982224133" class="nav-contact__icon"><whatsapp/></a>
            <a href="https://www.linkedin.com/in/nat%C3%A1lia-rodrigues-037792162/" class="nav-contact__icon"><linkedin/></a>
            <a href="https://www.instagram.com/nahmrodrigues/" class="nav-contact__icon"><instagram/></a>
            <a href="https://github.com/nahmrodrigues/" class="nav-contact__icon"><github/></a>   
            <a href="https://gitlab.com/nahmrodrigues" class="nav-contact__icon"><gitlab/></a>
        </div>
    </nav>

    <script>
        this.mixin("description-text");
    </script>
</nav-bar>
