@import "../variables.scss";

.nav-bar {
    position: relative;
    display: block;
    text-align: right;
    left: 220px;
    width: calc(100% - 220px);
    height: auto;
}

.nav-bar__title {
    display: inline-block;
    width: 40%;
    line-height: 100%;
    margin: 20px 40px 10px 40px;
}

.nav-contact {
    // margin-top: 70px;
    margin-right: 40px;
    text-align: right;
}

.nav-contact__icon {
    cursor: pointer;
}

.social-media-icon {
    width: 25px;
    height: 25px;
    fill: rgb(109, 108, 108);
    margin: 0 5px;
}

.social-media-icon:hover {
    fill:black;
}